<template>
  <div>
    <b-card>
      <b-jumbotron header="Cru at PVCC" lead="Prime Time on Wednesdays, 12pm-1pm">
        <p>We are a Christian club at Piedmont Virginia Community College focused on doing things and stuff</p>
        <b-btn variant="primary" v-b-modal.signupmodal>Get in touch with us!</b-btn>
      </b-jumbotron>
    </b-card>
    <!-- Modal Component -->
    <SignUpModal />

  </div>
</template>

<script>
  import SignUpModal from './SignUpModal'

  export default {
    name: 'hello',
    components: {SignUpModal}
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
