<template>
  <b-modal id="signupmodal" title="Get in touch with us!" ref="signupmodal">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1"
                    description="We'll never share your email with anyone else.">
        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Your Name:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.name"
                      required
                      placeholder="Enter First and Last name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="phonenumber"
                    label="Phone Number"
                    label-for="phonenumberinput">
        <b-form-input id="phonenumberinput"
                      v-model="form.phone_number"
                      required
                      placeholder="Enter phone number">
        </b-form-input>
      </b-form-group>
    </b-form>
    <template slot="modal-footer">
      <b-button variant="danger" @click="$refs.signupmodal.hide()">Cancel</b-button>
      <b-button variant="primary" @click="onSubmit">Submit</b-button>
    </template>
  </b-modal>
</template>
<script>
  import axios from 'axios'

  export default {
    name: 'SignUpModal',
    data: function () {
      return {
        form: {
          email: '',
          name: '',
          phone_number: null
        },
        show: true
      }
    },
    methods: {
      onSubmit () {
        axios.post('http://' + location.hostname + ':6543/submit_user', this.form)
      },
      onReset (evt) {
        evt.preventDefault()
        /* Reset our form values */
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        /* Trick to reset/clear native browser form validation state */
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
