<template>
  <div id="app" class="mt-0">
    <navigation />

    <router-view></router-view>
  </div>
</template>

<script>
  import Navigation from './Navigation'

  export default {
    name: 'app',
    components: {Navigation}
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  #body {
    height: 100%;
  }
</style>
